.ServerUserStatusPane {
    background-color: #292C32;
    color: #84888d;
    height: 100%;
    min-width: 120px;
    width: 15%;
}

.ServerUserStatusPane > button{
    margin:0 auto;
    display: block;
    color: #f9f9f9;
}

.ServerUserStatusPane > ul > div {
    color: #84888d;
}

.ServerUserStatusPane > ul > li {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ServerUserStatusPane > ul > li > div{
    min-width: 0px;
    margin-right: 10px;
}

@media only screen and (max-width: 700px) {
    .ServerUserStatusPane > button{
        display: none;
    }
  }